<div class="row">
  <div class="jumbotron col-lg-6">
    <h2>Recipient OS Tracking</h2>
    <p class="lead">This sample project collects SparkPost webhook events and reports on recipient OS preferences.</p>
    <p>The code for this sample is available on GitHub at: <a href="TBD">github.com/SparkPost/TBD</a></p>
  </div>

  <div class="col-lg-6">
    <div id="chart" style="width: 500px; height: 500px"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h4>SparkPost Resources</h4>
    <ul>
      <li>
        <a href="https://app.sparkpost.com/join">Sign up for a free SparkPost account</a>
      </li>
      <li>
        <a href="https://www.sparkpost.com/docs">SparkPost documentation</a>
      </li>
      <li>
        <a href="https://developers.sparkpost.com/api/">SparkPost API reference</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-6">
    <h4>Phoenix Resources</h4>
    <ul>
      <li>
        <a href="http://phoenixframework.org/docs/overview">Guides</a>
      </li>
      <li>
        <a href="https://hexdocs.pm/phoenix">Docs</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Source</a>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(gChartsLoaded);

  function gChartsLoaded() {
    var req = new XMLHttpRequest();
    req.addEventListener('load', dataLoaded);
    req.open('GET', '/api');
    req.send();
  }

  function dataLoaded() {
    console.log(this.responseText);
    var data = JSON.parse(this.responseText);
    console.log(data);
    data.unshift(['Name', 'Number']);
    var dataTable = google.visualization.arrayToDataTable(data);
    var chart = new google.visualization.PieChart(document.getElementById('chart'));
    chart.draw(dataTable, {
      title: 'Email recipient OS preferences' 
    });
  }
</script>
